*main {
    margin: 0;
    padding: 0;
    box-sizing: border-box;



}




.banner-container {
    display: flex;
    justify-content: space-between;
    max-width: 1240px;
    height: 38vw;
    background-color: #161616;
    color: azure;
    align-items: center;
    border-radius: 30px;
    margin: 0 auto;
    margin-top: 3vw;
    font-family: 'Poppins', sans-serif;

}

.banner-heading {

    text-transform: uppercase;
    background-image: linear-gradient(-225deg,
            #231557 0%,
            #44107a 29%,
            #ff1361 67%,
            #fff800 100%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;

}

@keyframes textclip {
    to {
        background-position: 200% center;
    }
}


.top-cover {
    margin: 2vw;
    padding: 5vw;




}

.cover-image {

    width: 30vw;
    height: 37vw;
    margin-right: 5vw;
    padding-top: 1.2vw;


}


.banner-button {
    background-color: #DD0000;
    border: none;
    width: 9vw;
    height: 3vw;
    color: aliceblue;
    border-radius: 5px;
    padding: 1vw;
    margin-top: 2vw;


}

.banner-button:hover {
    background-color: rgb(255, 68, 0);
}

*/ .top-hr {
    width: 70%;
    margin: 3vw;
    margin-left: 14vw;
}

.blog-area {

    display: flex;
    justify-content: space-evenly;
    font-family: 'Poppins', sans-serif;


}

.side-nav {
    width: 312px;
    height: 312px;
    background-color: #161616;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 10%;
}

.match {
    border: 1px solid rgba(128, 128, 128, 0.178);
    border-radius: 5px;
    padding: 15px;
}

.grid-image {

    width: 200%;
    object-fit: cover;
    column-span: all;



}

.icons-bottom {
    display: flex;
    column-gap: 60%;
    row-gap: 0;

}

.two-flag {
    display: flex;
    column-gap: 5%;

}


.transfer-button {
    align-items: center;
}

.clock-icon {
    color: rgba(128, 128, 128, 0.637);
}

.comment-icon {
    color: rgba(128, 128, 128, 0.637);
}


.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 60%;
}

.match img {
    width: 75%;
}



.upcoming-match {
    background-color: rgb(255, 255, 255);
    width: 200px;
    height: 54px;
    border-radius: 10px;
    font-size: 100%;

}

.upcoming-match:hover {
    background-color: #DD0000;
}

.all-groups {
    background-color: rgb(255, 255, 255);
    width: 200px;
    height: 54px;
    border-radius: 10px;
    font-size: 100%;
}

.all-groups:hover {
    background-color: #DD0000;
}

.blog {
    background-color: rgb(221, 0, 0);
    width: 200px;
    height: 54px;
    border-radius: 10px;
    font-size: 100%;
}

.footer {
    background-color: #161616;
    color: aliceblue;
}

/* .footer-h1 {
    text-align: center;
    padding-top: 6%;
    margin-bottom: 5%;

} */

hr {
    width: 90%;


}

.footer-paragraph {
    display: flex;
    justify-content: center;
    gap: 5%;
    padding-bottom: 7%;
    margin-top: 5%;
    text-transform: uppercase;
    background-image: linear-gradient(-225deg,
            #35aad8 0%,
            #253c7c 29%,
            #ff1361 67%,
            red 90%,
            #fff800 100%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 3.3s linear infinite;
    display: flex;
    text-align: center;
}



.footer-h1 {
    text-transform: uppercase;
    background-image: linear-gradient(-225deg,
            #811fb6 0%,
            #ad2196 29%,
            #ff1361 67%,
            red 90%,
            #ff5e00 100%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 3.3s linear infinite;
    display: flex;
    text-align: center;
    padding-top: 6%;
    margin-bottom: 5%;
    justify-content: center;


}

@keyframes textclip {
    to {
        background-position: 200% center;
    }
}

/* small devices */
@media screen and (max-width:576px) {
    .grid-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .top-cover {
        font-size: 1.7vw;
        align-items: center;
    }

    .banner-button {
        background-color: #DD0000;
        border: none;
        width: 14vw;
        height: 5vw;
        color: aliceblue;
        border-radius: 5px;
        padding: 1vw;
        margin-top: 1vw;
        font-size: 1.5vw;
        justify-content: center;
        align-items: center;
    }

    .banner-button:hover {
        background-color: rgb(255, 68, 0);
    }

    .banner-container {
        flex-direction: column;
        display: flex;
        justify-content: space-between;
        max-width: 334px;
        height: 472px;
        background-color: #161616;
        color: azure;
        align-items: center;
        border-radius: 30px;
        margin: 0 auto;
        margin-top: 3vw;
    }

    .cover-image {

        width: 55vw;
        height: 55vw;


        margin-right: 5vw;
        padding-top: 1.2vw;
        min-width: 10%;

    }


    .blog-area {

        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .footer {
        display: flex;
        flex-direction: column;
    }
}

/* Medium Device */

@media screen and(max-width:768px) {

    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .top-cover {
        font-size: 1.7vw;
    }

    .banner-button {
        background-color: crimson;
        border: none;
        width: 12vw;
        height: 5vw;
        color: aliceblue;
        border-radius: 5px;
        padding: 1vw;
        margin-top: 1vw;
        font-size: 1.5vw;
    }
}


/* large device */
@media screen and (max-width:992px) {
    .match
}