*main {
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}




.banner-container {
    display: flex;
    justify-content: space-between;
    max-width: 1240px;
    height: 38vw;
    background-color: #161616;
    color: azure;
    align-items: center;
    border-radius: 30px;
    margin: 0 auto;
    margin-top: 3vw;
}

.top-cover {
    margin: 2vw;
    padding: 5vw;



}

.cover-image {

    width: 30vw;
    height: 37vw;
    margin-right: 5vw;
    padding-top: 1.2vw;


}


.banner-button {
    background-color: #DD0000;
    border: none;
    width: 8vw;
    height: 3vw;
    color: aliceblue;
    border-radius: 5px;
    padding: 1vw;
    margin-top: 2vw;



}

.banner-button:hover {
    background-color: orangered;

}

.top-hr {
    width: 70%;
    margin: 3vw;
    margin-left: 14vw;
}

.blog-area {
    border: 3px solid purple;
    display: flex;
    justify-content: center;
    align-items: stretch;

}

.match {
    border: 2px solid gray;
    border-radius: 5px;
    padding: 15px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.match img {
    width: 75%;
}

/* small devices */
@media screen and (max-width:576px) {
    .grid-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .top-cover {
        font-size: 1.7vw;
    }

    .banner-button {
        background-color: crimson;
        border: none;
        width: 12vw;
        height: 5vw;
        color: aliceblue;
        border-radius: 5px;
        padding: 1vw;
        margin-top: 1vw;
        font-size: 1.5vw;
        justify-content: center;
    }

    .banner-container {
        flex-direction: column;
        display: flex;
        justify-content: space-between;
        max-width: 334px;
        height: 472px;
        background-color: #161616;
        color: azure;
        align-items: center;
        border-radius: 30px;
        margin: 0 auto;
        margin-top: 3vw;
    }

    .cover-image {

        width: 55vw;
        height: 55vw;
        border: 2px solid gray;

        margin-right: 5vw;
        padding-top: 1.2vw;
        min-width: 10%;

    }

}


/* Medium Device */

@media screen and(max-width:768px) {

    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .top-cover {
        font-size: 1.7vw;
    }

    .banner-button {
        background-color: crimson;
        border: none;
        width: 12vw;
        height: 5vw;
        color: aliceblue;
        border-radius: 5px;
        padding: 1vw;
        margin-top: 1vw;
        font-size: 1.5vw;
    }
}


/* large device */
@media screen and (max-width:992px) {
    .match
}